* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.flex {
    display: flex;
}

:root {
    --jumbotron-bg-color: #b4d0e7;
    --footer-bg-color: black;
    --btn-bg-color: #0061ff;
    --border-color: grey;
    --s-bottom-padding: 2.5rem;
    --xs-bottom-padding: 1rem;
}

.container, .container-small, .banner {
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    min-height: 600px;
}

.container-small {
    max-width: 960px;
    min-height: 500px;
}

.banner {
    max-width: 900px;
    min-height: 300px;
}

.cont-color {
    background-color: rgb(214, 214, 127);
    border: 1px dashed black;
}




/*navigation bar*/
header {
    padding: 0.5rem;
    background-color: white;
    position: sticky;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.navbar-container {
    justify-content: space-between;
}

.main-menu, .secondary-menu {
    align-items: center;
}

.nav-menu li {
    list-style-type: none;
    padding: 1rem 1rem;
}

header a {
    text-decoration: none;
    color: rgb(36, 35, 35);
    font-size: 14px;
}

.btn-default {
    font-size: 14px;
    background-color: var(--btn-bg-color);
    color: white;
    border: none;
    padding: 0.5rem;
}


/*title and text*/
h1 {
    font-size: 4rem;
    padding-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    padding-bottom: var(--s-bottom-padding);
}

h3 {
    font-size: 1.5rem;
}

h4 {
    padding-bottom: var(--s-bottom-padding);
}



/*main section con jumbotron e suddivisioni principali*/

.section {
    padding: 4rem 0rem;
}

.section-large-pd {
    padding: 8rem 0rem 4rem 0rem
}

.jumbotron {
    background-color: var(--jumbotron-bg-color);
}

.jumbotron-img {
    width: 118%;
}

.large-icon {
    width: 25px;
    margin-top: 3rem;
}

.icons {
    width: 14px;
    height: 14px;
    margin-right: 0.3rem;
}

.list-items {
    list-style-type: none;
    padding-bottom: 2rem;
}

.list-items li {
    margin-bottom: var(--xs-bottom-padding);
}

p, .btn-space, .small-text {
    margin-bottom: 2rem;
}

.btn-large-pd {
    padding: 0.7rem 0rem;
    width: 200px;
}

.main-text {
    width: 360px;
}

.container-relative {
    position: relative;
    top: 70px;
}

hr {
    width: 60px;
    margin-bottom: var(--s-bottom-padding);
    background-color: var(--border-color);
}

.bottom-pd-s {
    padding-bottom: var(--s-bottom-padding);
}

.bottom-pd-xs {
    padding-bottom: var(--xs-bottom-padding);
}

.radio {
    padding-right: 1.5rem;
}

.card {
    border: 1px solid var(--border-color);
}

.row .col {
    flex-grow: 1;
    flex-basis: calc(100% /3);
    flex-wrap: wrap;
}

.card-col {
    padding: 1rem;
    border: 1px dashed red;
    min-width: 350px;
    min-height: 350px;
}

.col-type {
    padding: 0.5rem;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

.col-items {
    padding: 1.5rem;
}

.col-gap {
    gap: 2rem;
    margin-bottom: 2rem;
}

.col-large {
    flex-basis: 70%;
}

.col-small {
    flex-basis: 30%;
    justify-content: right;
}

.item-price {
    font-weight: bold;
}

.item-user {
    color: var(--border-color);
}


.card-col-img {
    width: 100%;
}


/*footer section*/
.footer {
    background-color: var(--footer-bg-color);
}