* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.flex {
    display: flex;
}

:root {
    --jumbotron-bg-color: #b4d0e7;
    --footer-bg-color: black;
    --btn-bg-color: #0061ff;
    --border-color: grey;
    --s-bottom-padding: 2rem;
    --xs-bottom-padding: 1rem;
}



/*vari container*/
.container, .container-small, .banner-container {
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    min-height: 600px;
}

.container-small {
    max-width: 960px;
    min-height: 500px;
}

.banner {
    padding: 5rem 0rem;
}

.banner-container {
    max-width: 960px;
    justify-content: space-between;
    align-items: baseline;
}

.cont-color {
    background-color: rgb(214, 214, 127);
    border: 1px dashed black;
}

.container-relative {
    position: relative;
    top: 70px;
}
/**/


/*navigation bar*/
header {
    padding: 0.5rem;
    background-color: white;
    position: sticky;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.navbar-container {
    justify-content: space-between;
}

.main-menu, .secondary-menu {
    align-items: center;
}

.nav-menu li {
    list-style-type: none;
    padding: 1rem 1rem;
}

header a {
    text-decoration: none;
    color: rgb(36, 35, 35);
    font-size: 14px;
}
/**/



/*title and text*/
h1 {
    font-size: 4rem;
    padding-bottom: 1rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    padding-bottom: var(--s-bottom-padding);
}

.item-price {
    font-weight: bold;
}

.item-user {
    color: var(--border-color);
}

.banner-large h2 {
    color: #61082b;
}
/**/



/*main section e suddivisioni principali*/

.section {
    padding: 4rem 0rem;
}

.section-large-pd {
    padding: 8rem 0rem 4rem 0rem
}

.bg-color-jumbo-banner {
    background-color: var(--jumbotron-bg-color);
}

.list-items {
    list-style-type: none;
    padding-bottom: 2rem;
}

.list-items li {
    margin-bottom: var(--xs-bottom-padding);
}

.btn-space, .small-text {
    margin-bottom: 2rem;
}

.main-text {
    width: 360px;
}

hr {
    width: 60px;
    margin-bottom: var(--s-bottom-padding);
    background-color: var(--border-color);
}

.request-box {
    padding: 2rem 0rem;
    justify-content: space-between;
    font-weight: bold;
}

.request-title, .request-box {
    border-bottom: 1px solid grey;
}
/**/



/*gestione immagini, icone e bottoni*/
.btn-default {
    font-size: 14px;
    padding: 0.7rem;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn-blue {
    background-color: var(--btn-bg-color);
    color: white;
    border: none;
}

.btn-large {
    width: 250px;
}

.btn-white {
    border: none;
}

.jumbotron-img {
    width: 118%;
}

.large-icon {
    width: 25px;
    margin-top: 3rem;
}

.icons {
    width: 14px;
    height: 14px;
    margin-right: 0.3rem;
}

.request-icon {
    margin-right: 2rem;
}
/**/



/*spaziature*/
.bottom-pd-s {
    padding-bottom: var(--s-bottom-padding);
}

.bottom-pd-xs {
    padding-bottom: var(--xs-bottom-padding);
}

.radio {
    padding-right: 1.5rem;
}



/*colonne*/
.card {
    border: 1px solid var(--border-color);
}

.row-wrap {
    flex-wrap: wrap;
    gap: 1rem;
}

.col-basis {
    flex-basis: calc((100% /3) - 1rem);
}

.card-col {
    padding: 1rem;
}

.col-type {
    padding: 0.5rem;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

.col-items {
    padding: 1.5rem;
}

.col-gap {
    gap: 2rem;
    margin-bottom: 2rem;
}

.col-large {
    flex-basis: 60%;
}

.col-small {
    flex-basis: 40%;
    justify-content: right;
}

.col-small-pd {
    padding-top: 3rem;
    padding-left: 3rem;
}

.card-col-img {
    width: 100%;
}

.banner-large {
    flex-basis: 40%;
}



/*footer section*/
.footer {
    background-color: var(--footer-bg-color);
}