* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.flex {
    display: flex;
}

:root {
    --jumbotron-bg-color: #b4d0e7;
    --footer-bg-color: black;
    --btn-bg-color: #0061ff;
    --s-bottom-padding: 1.5rem;
    --xs-bottom-padding: 1rem;
}

.container, .container-small, .banner {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0.5rem;
}

.container {
    max-width: 960px;
    min-height: 600px;
}

.container-small {
    max-width: 860px;
    min-height: 500px;
}

.banner {
    max-width: 900px;
    min-height: 300px;
}

.cont-color {
    background-color: rgb(214, 214, 127);
    border: 1px dashed black;
}




/*navigation bar*/
header {
    padding: 0.5rem;
    background-color: white;
    position: sticky;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.navbar-container {
    justify-content: space-between;
}

.main-menu, .secondary-menu {
    align-items: center;
}

.nav-menu li {
    list-style-type: none;
    padding: 1rem 1rem;
}

header a {
    text-decoration: none;
    color: rgb(36, 35, 35);
    font-size: 14px;
}

.btn-default {
    font-size: 14px;
    background-color: var(--btn-bg-color);
    color: white;
    border: none;
    padding: 0.5rem;
}



/*main section con jumbotron e suddivisioni principali*/

.section {
    padding: 4rem 0rem;
}

.section-large-pd {
    padding: 8rem 0rem 4rem 0rem
}

.jumbotron {
    background-color: var(--jumbotron-bg-color);
}

.jumbotron-img {
    width: 118%;
}

.large-icon {
    width: 25px;
    margin-top: 3rem;
}

.icons {
    width: 14px;
}

.list-items {
    list-style-type: none;
    line-height: 2rem;
    padding-bottom: 2rem;
}

h1 {
    font-size: 4rem;
    padding-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    padding-bottom: var(--s-bottom-padding);
}

h3 {
    font-size: 1.5rem;
}

p, .btn-space, .small-text {
    margin-bottom: 2rem;
}

.btn-large-pd {
    padding: 1rem 3rem;
}

.main-text {
    width: 360px;
}

.container-relative {
    position: relative;
    top: 70px;
}

hr {
    width: 50px;
}

.bottom-pd-s {
    padding-bottom: var(--s-bottom-padding);
}

.bottom-pd-xs {
    padding-bottom: var(--xs-bottom-padding);
}

.radio {
    padding-right: 1.5rem;
}

.col-type, .col {
    border: 1px solid #d7d7d9;
}

.col-type {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    text-align: center;
}

.col-items {
    padding: 0rem 1rem;
}

.item-price {
    font-weight: bold;
}

.item-user {
    color: #d7d7d9;
}


/*footer section*/
.footer {
    background-color: var(--footer-bg-color);
}